<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ng.org.knowit.fons">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar">



        </activity>

        <provider
            android:name=".Data.CompanyProvider"
            android:authorities="ng.org.knowit.fons"
            android:exported="false" />

        <service
            android:name=".Data.CompanyUpdateService"
            android:exported="false" />

        <provider
            android:name=".Data.NewsProvider"
            android:authorities="ng.org.knowit.fons.News"
            android:exported="false" />

        <service
            android:name=".Data.NewsUpdateService"
            android:exported="false" />

        <activity
            android:name=".NewsDetail"
            android:label="@string/title_activity_news_detail"
            android:theme="@style/AppTheme.NoActionBar">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main2Activity" />
        </activity>

    </application>

</manifest>